<launch>

  <arg name="model" default="$(find simulation_2017)/urdf/r2d2.urdf"/>
  <arg name="rvizconfig" default="$(find simulation_2017)/urdf.rviz" />

  <include file="$(find simulation_2017)/launch/control_beacon_localization.launch">
    <!--<arg name="model" value="$(arg model)" />-->
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <!--<param name="magic_modelNamePrefix" value="r2d2" />-->

  <!-- This param file is where any environment-agnostic (live or simulation)
  configuration should be loaded, including controllers -->
  <rosparam command="load" file="$(find simulation_2017)/config/control.yaml" />

  <node name="high_level_state_controller" pkg="cr17" type="high_level_state_controller.py">
    <remap from="/filtered_pose" to="/robot/standard_pose" />
  </node>
  <node name="path_pub" pkg="cr17" type="path_pub.py"/>
  <node name="magic_odomFromGazebo" pkg="simulation_2017" type="magic_odomFromGazebo.py"/>
</launch>
