<launch>

  <include file="$(find simulation_2017)/launch/r3dx_world.launch">
  </include>

  <!--<include file="$(find simulation_2017)/launch/r3d1.launch">
  </include>

  <include file="$(find simulation_2017)/launch/r3d2.launch">
  </include> -->

  <arg name="model" default="$(find simulation_2017)/urdf/r3dx.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <group ns="/r3d1">
    <include file="$(find simulation_2017)/launch/r3dx.launch">
        <arg name="name" value="r3d1"/>
        <arg name="pos_x" value="1.0"/>
        <arg name="pos_y" value="1.0"/>
        <arg name="pos_z" value="0.5"/>
        <arg name="namespace_arg" value="/r3d1"/>
    </include>
  </group>

  <group ns="/r3d2">
    <include file="$(find simulation_2017)/launch/r3dx.launch">
        <arg name="name" value="r3d2"/>
        <arg name="pos_x" value="1.0"/>
        <arg name="pos_y" value="2.0"/>
        <arg name="pos_z" value="0.5"/>
        <arg name="namespace_arg" value="/r3d2"/>
    </include>
  </group>

  <group ns="/r3d3">
    <include file="$(find simulation_2017)/launch/r3dx.launch">
        <arg name="name" value="r3d3"/>
        <arg name="pos_x" value="1.0"/>
        <arg name="pos_y" value="4.0"/>
        <arg name="pos_z" value="0.5"/>
        <arg name="namespace_arg" value="/r3d3"/>
    </include>
  </group>

  <group ns="/r3d4">
    <include file="$(find simulation_2017)/launch/r3dx.launch">
        <arg name="name" value="r3d4"/>
        <arg name="pos_x" value="1.5"/>
        <arg name="pos_y" value="5.5"/>
        <arg name="pos_z" value="0.5"/>
        <arg name="namespace_arg" value="/r3d4"/>
    </include>
  </group>

</launch>
