<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- Launch Lidar beacon dection -->
	<include file="$(find classic_robot)/launch/lidar_beacon.launch" />


	<!-- Launches aruco node -->
	<include file="$(find classic_robot)/launch/aruco.launch" >

		<!-- aruco parameters, mostly dummy values currently -->
		<arg name="rear_camera" default="/camera" />
		<arg name="marker_size" default="0.19685" />
		<arg name="board_directory" default="$(find classic_robot)/param" />
		<arg name="boards_config" default="$(find classic_robot)/param/boardsConfiguration.yml" />
		<arg name="intraboard_transform" default="0 -0.231775 0 0 0 0 1 /bigBoard /lilBoard 100" />
		<arg name="world_to_bigBoard_transform" default="0 0 0 0 0.7071067811865475 0.7071067811865475 0 /bigBoard /world 100" />		
		<arg name="transform_topic" default="/ar_multi_board/transform" />
	</include>

</launch>