<?xml version="1.0" encoding="utf-8"?>
<launch>

   <include file="$(find cr17)/launch/mbed_interface_launch.launch" />

   <include file="$(find cr17)/launch/usb_cam.launch"/>
   <node pkg="cr17" type="usbcam_sender.py" name="usbcam_sender" />

    <node pkg="cr17" type="joy_repub.py" name="joy_repub" />
    <node pkg="cr17" type="joystick_controller.py" name="joystick_controller" />

</launch>
